@charset "UTF-8";

.dragme { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    resize: both;
    min-width: 50px;
    min-height: 20px;
    overflow: hidden;
    z-index: 100;
}
.text-box{
	background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; 
    width: 200px;
    padding: 8px;
    color: gray;
    word-wrap: break-word;
}
.text-box:focus{
	background: white;
}
.image{
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.rounded-image{
	border-radius: 20px;
}
.circle-image{
	border-radius: 50%;
}
.image-box{
	padding: 10px;
	width: 500px;
}
.drag-area{
	position: relative;
	height: 19cm;
	overflow: hidden;
	background: transparent;
	background-repeat: no-repeat
	background-attachment: scroll; 
	background-position: 0 top;
	float: left;
	border: 1px solid black;
}
.drag-area1{
	width: 500px;
	overflow: hidden;
	background-size: 100% 100%;
}
.drag-area2{
	width: 500px;
	background-size: 200% 100%;

}
.drag-area2:nth-child(2){
	background-position: calc(100%);
}
.drag-area3{
	width: 380px;
	background-size: 300% 100%;
}
.drag-area3:nth-child(2){
	background-position: calc(50%);
}
.drag-area3:nth-child(3){
	background-position: calc(100%);
}
.close {
	position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 15px;
    padding: 1px 4px;
    background: #b6d460;
    border-radius: 20%;
    border: 2px solid #b6d460;
}
.close:hover {
	cursor: pointer;
    background:#d8472f;
    border-color: #d8472f;
    color:#fff;
}
#tool-box{
	background-color: lightblue;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
}
html{
	height: 100%;
}
#working-area{
	position: relative;
	margin-left: 200px;
	padding: 50px 0;
	height: 100%;
}
.brochure{
	display: flex;
	margin-bottom: 0.5cm;
	justify-content: center;
}
.brochure1{
	display: static;
}
.brochure2{

}
.brochure3{
	
}
#onepage{
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-around;
}
.layoutChoice > img:hover{
	cursor: pointer;
}
.layoutChoice > img{
	width: 70%;
	border-radius:20px;
	background-color: lightgray;
}
.layoutChoice{
	text-align: center;
}
ul{
	list-style: none;
	padding: 0;
	text-align: center;
}
.hidden{
	display: none;
}
#font-size{
	height: 50px;
	width: 40px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 20px;
	text-align: center;
}
#font-size:focus{
	border: 0;
}
.arrow-btn{
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background: #E8E8E8;
	border: 0;
	color: #FFF;
}
.dropdown{
	position: relative;
	text-align: left;
}
.dropdown a{
	text-decoration: none;
	color: #222;
	font-size: 20px;
	width: 100%;
	display: block;
	padding: 10px;
	border-color: #005;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
}
.dropdown:hover{
	cursor: pointer;
}
.dropdown ul{
	list-style: none;
	display: none;
}
