@charset "UTF-8";

body{
	background-image: url('../img/background.jpg');
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
.dragme { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    resize: both;
    min-width: 50px;
    min-height: 20px;
    overflow: hidden;
    z-index: 100;
}
.text-box{
	background: rgba(255,255,255,0.66);  
    border-radius: 4px; 
    width: 200px;
    padding: 8px;
    color: gray;
    word-wrap: break-word;
}
.text-box:focus{
	background: white;
}
.image{
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.rounded-image{
	border-radius: 20px;
}
.circle-image{
	border-radius: 50%;
}
.image-box{
	padding: 10px;
	width: 200px;
}
.drag-area{
	position: relative;
	height: 19cm;
	overflow: hidden;
	background-color: rgba(230,230,230,0.9);
	background-repeat: no-repeat
	background-attachment: scroll; 
	background-position: 0 top;
	float: left;
	border: 1px solid black;
}
.drag-area1{
	width: 500px;
	overflow: hidden;
	background-size: 100% 100%;
}
.drag-area2{
	width: 500px;
	background-size: 200% 100%;

}
.drag-area2:nth-child(2){
	background-position: calc(100%);
}
.drag-area3{
	width: 380px;
	background-size: 300% 100%;
}
.drag-area3:nth-child(2){
	background-position: calc(50%);
}
.drag-area3:nth-child(3){
	background-position: calc(100%);
}
.close {
	position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-size: 15px;
    padding: 1px 4px;
    background: #b6d460;
    border-radius: 20%;
    border: 2px solid #b6d460;
}
.close:hover {
	cursor: pointer;
    background:#d8472f;
    border-color: #d8472f;
    color:#fff;
}
#tool-box{
	background-image: linear-gradient(#7cbcd4, #1b3f4c);
	color: #DDF;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 0;
	margin-top: 0;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-content: center;
}
html{
	height: 100%;
}
#working-area{
	position: relative;
	margin-left: 200px;
	padding: 50px 0;
	height: 100%;
}
.brochure{
	display: flex;
	margin-bottom: 0.5cm;
	justify-content: center;
}
.brochure1{
	display: static;
}
.brochure2{

}
.brochure3{
	
}
#onepage{
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-around;
}
.layoutChoice > img:hover{
	cursor: pointer;
	background-color: #3f5669;
	opacity: 1.0;
	
}
.layoutChoice > img{
	width: 60%;
	border-radius:15px;
	background: #3f5669;
	opacity: 0.5;
}
.layoutChoice{
	text-align: center;
	padding: 10px 0 10px 0;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.hidden{
	display: none;
}
#font-size{
	width: 40px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	text-align: center;
	color: rgba(125, 110, 100, 1);
}
#font-resize{
	height: 28px;
	display: flex;
	flex-direction: row;
	margin-top: 1px;
}
#font-size:focus{
	border: 0;
}
.arrow-btn{
	width: 20px;
	height: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	background: #afadad;
	border: 0;
	color: #FFF; 
}
#textUtils{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.dropdown{
	position: relative;
	text-align: left;
}
.dropdown a{
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	width: 100%;
	display: block;
	padding: 10px;
	border-color: #005;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
}
.dropdown:hover{
	cursor: pointer;
}
.dropdown ul{
	list-style: none;
	display: none;
}
.dropdown ul li{
	padding: 10px 0;
}
.dropped{
	background-image: linear-gradient(#7bb4cc, #2b6e86);
}
.fas{
	font-size: 15px;
}
#addText{
	border-radius: 4px;
	border-width: 0;
	padding: 5px 7px;
	color: #FFF;
	background-color: #2f5a7d;
	margin-left: 25px;
	cursor: pointer;
	opacity: 0.9;
}
#addText:hover{
	opacity: 1.0;
}
.textStyler{
	border-radius: 4px 0 0 4px;
	border-width: 0;
	color: rgba(125, 110, 100, 1);
	width: 30px;
	height: 30px;
	font-family: serif;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	background-color: #FFF;
	border-right: 1px solid #AAA;
	border: 1px solid;
	border-right-width: 0;
}

.custom-file-input{
  	width: 85px;
}
.custom-file-input::-webkit-file-upload-button{
  	border-width: 0;
  	height: 30px;
  	background-color: #2f5a7d;
  	color: #FFF;
  	border-radius: 4px;
}
.addImage{
	width: 100%;
	padding: 5px;
	background-color: #2f5a7d;
	border: 0;
	color: white;
}
.addImage:hover{
	cursor: pointer;
	background-color: #0f3a5d;
}
.addImage:nth-child(1)
{
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid #2f3a5d;
}
.addImage:nth-child(3)
{
	border-radius: 0 0 6px 6px;
	border-top: 1px solid #2f3a5d;
}
#save{
	color: #2c5f2d;
	padding: 10px 15px;
	background-color: #adedff;
	border-width: 0;
	border-radius: 4px;
	margin: 20px;
	font-weight: 600;
	border: 2px solid #2c5f2d;
}